[submodule "yiiTemplate/yii"]
	path = yiiTemplate/yii
	url = git://github.com/yiisoft/yii.git
[submodule "yii"]
	path = yii
	url = git://github.com/yiisoft/yii.git
[submodule "yiiLibrary"]
	path = yiiLibrary
	url = git://github.com/yiisoft/yii.git
